<div class="main top-main">
  <div class="container">
    <div class="top-message">
      <h1>Peachstagramへようこそ！！</h1>
      <p>Peachstagramは画像投稿アプリです。</p>
      <p>自由に画像を投稿してみてください！</p>
    <div>
    <div class="login-new">
      <span>アカウントをお持ちでないですか？</span>
      <%= link_to("登録する", "/signup") %>
    </div>

    <div class="top-img">
      <img src="/peach1.jpg">
    </div>
  </div>
</div>