// index========================
.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  margin: 10px;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

.user-box {
  width: 70%;
  margin: 30px auto;
  border: rgb(187, 182, 182) 0.1px solid;
  overflow: hidden;
  display: table;
}

// show==================================
.user {
  display: flex;
}

.user-show-left {
  margin-right: 60px;
}

.user-show-left img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}


.user-tabs {
  margin-top: 40px;
  overflow: hidden;
  border-top: 1px solid #bbb6b6;
}

.user-tabs li {
  float: left;
}

.user-tabs li.active {
  border-bottom: 2px solid #e04485;
}

.user-tabs li.active a {
  color: #57575f;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

.user-show-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-show {
  margin: 30px 15px;
}

.post-show img {
  width: 280px;
  height: 280px;
  object-fit: cover;
}

.user-show-box a {
  display: block;
}

@media screen and (max-width: 700px) {
  .user-show-left img {
    width: 90px;
    height: 90px;
  }

  .user-show-left {
    margin-right: 20px;
  }

  .user-show-right p {
    font-size: 15px;
  }

  .show-introduction {
    font-size: 13px;
  }

  .post-show {
    margin: 25px 0;
  }

  .post-show img {
    width: 300px;
    height: 300px;
  }
}

// new=====================================
.post-new input,
.users-form input {
  margin: 5px 0;
}

// login-form===============================
.users-new h1 {
  color: rgb(192, 149, 149);
  font-size: 1.8em;
}

.login-new {
  margin: 25px 0;
  font-size: 0.8em;
}

.login-new a {
  color: #e04485;
}

// edit======================================
.edit-main p, 
.edit-main textarea {
  margin: 0;
}



// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
